<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beleza</title>
    <link rel="stylesheet" href="../css2/beleza.css">
    <link rel="shortcut icon" href="../img/favicon-32x32.png" type="image/x-icon">
</head>
<body>
    <header class="menu_header">
        <nav class="links">
            <a href="../index.html">Início</a>
            <a href="../view/home.html">Home</a>
            <a href="#">Sobre nós</a>
        </nav>
    
        <div class="secao">
            <h2 style="color: #734D49;;">Seção Beleza <br> <span style="font-size: 0.8em; font-weight: normal;color:
                black; ">Viora</span>
           
        </div>
        <button id="menu-b">
            <img src="../img/menu.jpeg" width="35px">
           </button>
        <div   id="menu_lateral"  class="menu_lateral">
            <button id="fechar">&times;</button>
            <a href="../view/moda.html">Moda</a>
            <a href="../view/esportes.html">Esportes</a>
            <a href="../view/tecnologia.html">Tecnologia</a>
            <a href="#">Contato</a>
            <a href="#">Sobre nós</a>
            </div>
       </header>

       <div class="card_principal">
        <div class="principal">
            <img src="../img/maquiagemGlow.jpg">
            <div class="contai">
                <h2>Maquiagem Glow: O Retorno dos Produtos Iluminadores</h2>
                <p> A maquiagem glow, que foca em uma pele radiante e iluminada, está de volta para 2025. Os iluminadores em pó e cremosos estão sendo reformulados para proporcionar um brilho natural e saudável, deixando a pele com um acabamento luminoso e sem excessos.  </p>
            </div>
        </div>
    
        <div class="principal">
            <img src="../img/skincareCoreana.jpg">
            <div class="contai">
                <h2>A volta do skincare coreano</h2>
                <p>O skincare coreano continua dominando o mercado de beleza em 2025. Marcas de todo o mundo estão adotando o conceito de cuidados múltiplos e produtos inovadores que promovem uma pele mais jovem e saudável.</p>
            </div>
        </div>
    
        <div class="principal">
            <img src="../img/cuidadoSobrancelha.webp">
            <div class="contai">
                <h2>O poder do cuidado com as sobrancelhas</h2>
                <p>As sobrancelhas se tornaram um dos maiores focos de cuidados e tendências de beleza nos últimos anos. Em 2025, a tendência é manter as sobrancelhas naturais e bem definidas. </p>
            </div>
        </div>
    
        <div class="principal">
            <img src="../img/cosmeticosEcolo.jpg">
            <div class="contai">
                <h2>Beleza Sustentável: O Futuro dos Cosméticos Ecológicos</h2>
                <p>Em 2025, os consumidores estão cada vez mais atentos à sustentabilidade no mercado de beleza. Marcas estão adotando práticas ecológicas, como o uso de embalagens recicláveis, ingredientes naturais e fórmulas veganas. </p>
            </div>
        </div>
       </div>

      <div class="banner">
          
          <img src="../img/skincareNoite.png" width="350px">
      </div>

      <div class="card_principal">
        <div class="principal">
            <img src="../img/peleVidro.webp">
            <div class="contai">
                <h2>Novidade no Mercado: Pele de Vidro Está em Alta</h2>
                <p> A tendência da "pele de vidro" continua dominando o mercado de beleza. Este estilo busca alcançar uma aparência de pele perfeitamente lisa e luminosa, com foco em hidratação profunda e uso de produtos de acabamento brilhante, como séruns iluminadores e cremes hidratantes.  </p>
            </div>
        </div>
    
        <div class="principal">
            <img src="../img/prodSus.webp">
            <div class="contai">
                <h2>O Retorno dos Produtos de Beleza Sustentáveis</h2>
                <p>Em 2025, a sustentabilidade continua sendo uma grande tendência na indústria de beleza. Marcas estão lançando novos produtos com embalagens recicláveis e fórmulas feitas com ingredientes orgânicos e eco-friendly. </p>
            </div>
        </div>
    
        <div class="principal">
            <img src="../img/serum.webp">
            <div class="contai">
                <h2>Cuidados com a Pele: A Ascensão dos Séruns de Ácido Hialurônico</h2>
                <p>Os séruns de ácido hialurônico estão em alta, e não é para menos. Esse ingrediente, conhecido por sua capacidade de hidratar profundamente a pele, tem sido um dos preferidos nos cuidados diários de beleza. Marcas como The Ordinary e Neutrogena estão oferecendo produtos de ácido hialurônico em diversas concentrações, prometendo deixar a pele mais suave, hidratada e com aspecto mais jovem. </p>
            </div>
        </div>
    
        <div class="principal">
            <img src="../img/maquiagemClean.webp">
            <div class="contai">
                <h2> Maquiagem Clean: Produtos Naturais e Sem Crueldade</h2>
                <p>O movimento de maquiagem clean (limpa) e livre de crueldade continua crescendo. Consumidores estão cada vez mais buscando opções de maquiagem que sejam livres de produtos químicos agressivos e que não tenham sido testadas em animais.  </p>
            </div>
        </div>
       </div>
       
       
       <footer>
        <div class="footer_container">
            <div class="footer_icones">
                <img src="../img/icone_tel.png">
                <img src="../img/icone_email.png">
                <img src="../img/icone_face.png">
            </div>
            <p>&copy; 2025 Viora. Todos os direitos reservados</p>
        </div>
       </footer>

       <script src="../script/beleza.js"></script>
</body>
</html>