<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="shortcut icon" href="../img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/cadastro.css">
</head>
<body>
    <header class="menu">
        <div class="logo">Viora</div>
        <nav>
            <ul>
                <li><a href="../index.html">Início</a></li>
                <li><a href="../view/login.html">Login</a></li>
                <li><a href="../view/home.html">Home</a></li>
            </ul>
        </nav>
    </header>

  
    <div class="container">
        <div class="lado_esquerdo">
            <h1>Bem vindo ao Viora</h1>
            <img src="../img/user.png" width="35px">
            <p>Fique por dentro das últimas notícias e tendências.</p>
            
        </div>
    
        <div class="lado_direito">
            <div class="login">
                <h2>Faça seu cadastro</h2>
                <form >
                    <input type="email" placeholder="Digite seu e-mail" required>
                    <input type="date" required>
                    <input type="number" placeholder="Digite seu telefone" required>
                    <input type="password" placeholder="Digite sua senha" required>
                    
                    
                    <button type="submit">Entrar</button>
                </form>
            </div>
        </div>
       </div>

       
   

</body>
</html>