<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="../img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header>
          
       <button id="menu-b">
        <img src="../img/menu.jpeg" width="35px">
       </button>

       <span class="logo" style="color:#734D49 ;">Viora</span>

       <div   id="menu_lateral"  class="menu_lateral">
        <button id="fechar">&times;</button>
        <a href="../view/moda.html">Moda</a>
        <a href="../view/Beleza.html">Beleza</a>
        <a href="../view/esportes.html">Esportes</a>
        <a href="../view/tecnologia.html">Tecnologia</a>
        </div>
        
        <nav class="links">
            <a href="../index.html">Pagina Inícial</a>
            <a href="../view/login.html">Login</a>
            <a href="../view/cadastro.html">Cadastro</a>
        </nav>
       </div>
    </header>


    <div class="pesquisar">
      <button class="lupa"><img src="../img/lupa.webp" width="15px"></button>
      <input type="text" class="barra" placeholder="Pesquisar...">
    </div>

    

  <div class="noticias">
    <div class="card">
      <img src="../img/homeModa.jpg">
      <div class="card_container">
        <h3>Nova tendência: Moda silenciosa</h3>
        <p>Looks sofisticados e minimalistas dominam as passarelas de 2025</p>
        <a href="../view/moda.html">Leia mais</a>
      </div>
    </div>
    <div class="card">
      <img src="../img/HomeTecno.jpg">
      <div class="card_container">
        <h3>Skincare com IA: Beleza do futuro</h3>
        <p>Algoritimos agora personalizam produtos de acordo com sua pele</p>
        <a href="../view/Beleza.html">Leia mais</a>
      </div>
    </div>
    <div class="card">
      <img src="../img/homeSau.jpg">
      <div class="card_container">
        <h3>Vestíveis tecnológicos: o que esperar?</h3>
        <p>Novas jaquetas e tênis inteligentes prometem mudar a moda</p>
        <a href="../view/tecnologia.html">Leia mais</a>
      </div>
    </div>
    <div class="card">
      <img src="../img/homeSusten.jpg">
      <div class="card_container">
        <h3>Moda digital: Roupas para o metaverso</h3>
        <p>Grifes investem em coleções virtuais para avatares e NFTs.</p>
        <a href="../view/moda.html">Leia mais</a>
      </div>
      
    </div>
    <div class="card">
      <img src="../img/homeEsporte.jpg">
      <div class="card_container">
        <h3>Espanha conquista a Copa do Mundo Feminina 2023</h3>
        <p>A seleção da Espanha venceu a Copa do Mundo Feminina de 2023 ao derrotar a Inglaterra por 1 a 0 na final, realizada na Austrália. O gol decisivo foi marcado por Olga Carmona, garantindo o primeiro título mundial da equipe espanhola.</p>
        <a href="../view/esportes.html">Leia mais</a>
      </div>
    </div>
    <div class="card">
      <img src="../img/homeEvento.webp">
      <div class="card_container">
        <h3>Festa Bresh agita Madri</h3>
        <p>A icônica festa Bresh lotou a discoteca Fabrik em Madri, reunindo mais de 10.000 pessoas. Celebridades como Lola Índigo marcaram presença, e o evento foi um sucesso com música, performances e muita diversão.</p>
        <a href="../view/eventos.html">Leia mais</a>
      </div>
    </div>
  </div>


   <section class="videos">
    <h2>Fashion Show/ Meet gala</h2>
    <div class="midia">
      <div class="video1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hoKDrFyQDy0?si=fgUKuYSC37ptna9H" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

      <div class="video_curtos">
        <div class="curto">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/13rmTvJBd_8?si=3phr7yI81khfmkhh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="curto">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/bdbR1prPQJI?si=VGbCHyoCn_pe2CXe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </section>
        
        <div class="look_container">
          <div id="titulo">
            <h2>Inspirações Looks</h2>
          </div>
      
          <div class="filtros">
            <button data-filters="all">Todos</button>
            <button data-filters="feminina">Moda Feminina</button>
            <button data-filters="masculino">Moda masculina</button>
            <button data-filters="acessorio">Acessorios</button>
          </div>
        
        <div class="grid">
          <div class="card" data-category="feminina">
            <img src="../img/look01.jpg">
            <div class="card_infor">
              <h3>Moderno</h3>
              <p>Esse look combina sofisticação e simplicidade, ideal para um evento casual ou um passeio estiloso.</p>
            </div>
          </div>

          <div class="card" data-category="masculina">
            <img src="../img/look02.jpg">
            <div class="card_infor">
              <h3>Casual</h3>
              <p>Esse look traz uma pegada simples, criando um visual moderno e sensual.</p>
            </div>
          </div>

          <div class="card" data-category="acessorios">
            <img src="../img/look03.jpg">
            <div class="card_infor">
              <h3>Elegante</h3>
              <p>Looks mais sofisticado, que traz um ar de elegancia e refinamento sem exageros.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  

   <footer>

    <div id="icones">
        <a href=""><img src="../img/icone_tel.png" class="icone"></a>
        <a href=""><img src="../img/icone_email.png" class="icone"></a>
        <a href=""><img src="../img/icone_face.png" class="icone"></a>
        
        
        <p class="footer">
            &copy; 2025 Viora. Todos os direitos reservados.
        </p>
    </div>
    
   </footer>
   

    <script src="../script/home.js"></script>
    
</body>
</html>