<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="../img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
  <header>
    <div class="menu">
        <div class="menu_esquerdo">
         
            <h2>Viora</h2>
          
            
           
         
        </div>
        <div class="links">
        
                <a href="../index.html">Pagina Inicial</a>
                <a href="../view/home.html">Home</a>
            
        </div>
    </div>
  </header>

   <div class="container">
    <div class="lado_esquerdo">
        <h1>Bem vindo ao Viora</h1>
        <img src="../img/user.png" width="35px">
        <p>Fique por dentro das últimas notícias e tendências.</p>
        
    </div>

    <div class="lado_direito">
        <div class="login">
            <h2>Acesse sua conta</h2>
            <form >
                <input type="email" placeholder="Digite seu e-mail" required>
                <input type="password" placeholder="Digite sua senha" required>
                <input type="password" placeholder="Digite novamente sua senha" required>
                <a href="#" class="esqueceu">Esqueci a senha</a>
                <button type="submit">Entrar</button>
            
            </form>

        </div>
    </div>
   </div>

   <div class="cadastro">
    <p>Não tem conta ainda?</p>
    <br>
    <a href="../view/cadastro.html" class="cadastro">Cadastre-se aqui</a>
   </div>
   

</body>
</html>