<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moda</title>
    <link rel="stylesheet" href="../css2/moda.css">
</head>
<body>
   <header class="menu_header">
    <nav class="links">
        <a href="../index.html">Início</a>
        <a href="../view/home.html">Home</a>
        <a href="#">Sobre nós</a>
    </nav>

    <div class="secao">
        <h2 style="color: #734D49;;">Seção Moda <br> <span style="font-size: 0.8em; font-weight: normal;">Viora</span></h2>
       
    </div>
    <button id="menu-b">
        <img src="../img/menu.jpeg" width="35px">
       </button>
    <div   id="menu_lateral"  class="menu_lateral">
        <button id="fechar">&times;</button>
        <a href="../view/Beleza.html">Beleza</a>
        <a href="../view/esportes.html">Esportes</a>
        <a href="../view/tecnologia.html">Tecnologia</a>
        <a href="#">Contato</a>
        <a href="#">Sobre nós</a>
        </div>
   </header>
   <main>
       <div class="noticias">
        <div class="card">
            <img src="../img/bolsaPaper.webp">
            <div class="card_container">
                <h3>Bolsa 'Paper' da Bimba Y Lola vira tendência</h3>
                <p>A nova bolsa da Bimba Y Lola, inspirada nas sacolas de papel usadas em supermercados de Tóquio nos anos 70, está conquistando o público. Com design leve e maleável, o acessório promete versatilidade para diferentes estilos.</p>
                <p>viora.com</p>
            </div>
        </div>
       </div>
         <div class="noticias">
        <div class="card">
          <img src="../img/perolas.png">
          <div class="card_container">
            <h3>As pérolas ganham destaque na moda de 2025</h3>
            <p>Em 2025, as pérolas ressurgem com força no universo fashion. Antes associadas a eventos formais, agora são vistas em diversos contextos, mostrando sua versatilidade. Essa tendência global une o clássico ao moderno, criando um estilo que mescla tradição e inovação.</p>
            <p>viora.com</p>
          </div>
          </div>
        </div>
        <div class="noticias">
            <div class="card">
                <img src="../img/semanamoda.jpg">
                <div class="card_container">
                    <h3>6 tendências da Semana de Moda de Paris para se inspirar</h3>
                    <p>A semana de Moda de Paris, realizada de 3 a 11 de março, apresentou tendências que prometem marcar o outono-inverno 2025/2026. Entre os destaques estão o retorno de peças oversized, cores vibrantes, tecidos metálicos, alfaiataria e acessório maximalistas.</p>
                    <p></p>
                </div>
            </div>
        </div>
       
       
       
       
       
        
         </div>
       <div>
        <img src="../img/fundoModa.png" width="500px" id="logo">
        
       </div>
   </main>

   <div class="card_principal">
    <div class="principal">
        <img src="../img/minimalismo.webp">
        <div class="contai">
            <h2>A ascensão do minimalismo na moda</h2>
            <p>O minimalismo volta com força na moda de 2025. A tendência se destaca pela simplicidade e pela busca por peças atemporais, onde o foco está na qualidade dos materiais e no design clean. </p>
        </div>
    </div>

    <div class="principal">
        <img src="../img/botaCowboy.webp">
        <div class="contai">
            <h2>A volta das botas de cowboy nas ruas</h2>
            <p>As botas de cowboy, que eram populares nas décadas de 70 e 80, estão de volta nas ruas. Em 2025, elas apareceram em versões mais contemporâneas, combinadas com peças modernas e elegantes. </p>
        </div>
    </div>

    <div class="principal">
        <img src="../img/neon.webp">
        <div class="contai">
            <h2>Cores neon dominam as passarelas de 2025</h2>
            <p>As cores neon estão de volta com tudo para a temporada de 2025. Os tons vibrantes como verde-limão, rosa choque e amarelo fluorescente estão sendo usados em coleções de alto nível, refletindo um estilo ousado e energético.</p>
        </div>
    </div>

    <div class="principal">
        <img src="../img/tecidosSustentaveis.png">
        <div class="contai">
            <h2>Tecidos sustentáveis como tendências para 2025</h2>
            <p>A moda sustentável continua em alta em 2025. Marcas estão priorizando o uso de materiais ecológicos, como tecidos orgânicos, reciclados e biodegradáveis, para criar coleções que são amigas do meio ambiente. </p>
        </div>
    </div>
   </div>


   <footer>
    <div class="footer_container">
        <div class="footer_icones">
            <img src="../img/icone_tel.png">
            <img src="../img/icone_email.png">
            <img src="../img/icone_face.png">
        </div>
        <p>&copy; 2025 Viora. Todos os direitos reservados</p>
    </div>
   </footer>
   
</body>
<script src="../script/moda.js"></script>
</html>